{% extends "app/layout.html" %}
{% load staticfiles %}
{% block title %}教练中心{% endblock %}
{% block body %}

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">

            </div>
            <div class="center sliding">教练中心</div>
            <div class="right">
                <a class="open-popover link icon-only" href="#">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="pages navbar-through">

        <div data-page="msg" class="page no-toolbar no-swipeback">

            <div class="page-content infinite-scroll" data-distance="50" data-url="/app/load_reserver_data_coach/">

                <div class="pull-to-refresh-layer">
                    <div class="preloader"></div>
                    <div class="pull-to-refresh-arrow"></div>
                </div>

                <div class="content-block-title">教练基本信息</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">教练姓名</div>
                                    <div class="item-after">{{ user.name }}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-comment"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">消息中心</div>
                                    <div class="item-after">
                                        <a class="badge external" href="{% url 'message_list' %}">
                                            {{ message_count }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="content-block-title">
                    教学记录
                </div>

                <div class="infinite-block">

                </div>

                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block extra_page %}

    <div class="popover popover-menu">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block">
                <ul>
                    <li>
                        <a class="list-button item-link external" href="{% url 'message_list' %}">消息中心</a>
                    </li>
                    <li>
                        <a class="list-button item-link external" id="logout" href="{% url 'logout' %}">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        {% for item in top_reverse_list %}
            App.addNotification({
                title: '预约提醒！',
                message: '您预约于 {{ item.train_date | date:"Y-m-d"}} ' +
                '{{ item.train_time_span.start_time | date:"H:s"}}-' +
                '{{ item.train_time_span.end_time | date:"H:s"}} ' +
                '在{{ item.user.coach_car.training_place }} ' +
                '学车，请按时到哦！',
                additionalClass: 'reverse-notifications',
                closeIcon: false,
                onClick: function () {
                    App.closeNotification('.reverse-notifications');
                    {#                    App.confirm('是否关闭此预约信息提醒？', function () {#}
                    {#                        App.closeNotification('.reverse-notifications');#}
                    {#                    }, function () {#}
                    {#                    });#}
                }
            });
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                App.addNotification({
                    title: '操作提醒！',
                    message: '{{ message }}',
                    additionalClass: 'operation-notifications',
                    closeIcon: false,
                    onClick: function () {
                        App.closeNotification('.operation-notifications');
                    }
                });
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}