{% extends "app/layout.html" %}
{% load staticfiles %}
{% block title %}忘记密码{% endblock %}
{% block body %}

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="javascript:;" onclick="window.history.go(-1);" class="link icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center sliding">忘记密码</div>
            <div class="right">
            </div>
        </div>
    </div>

    <div class="pages navbar-through">

        <div data-page="feedback" class="page no-toolbar no-swipeback">

            <div class="page-content">

                <div class="content-block">
                    <div class="content-block-inner">
                        请联系管理员
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}