{% extends "admin/_base.html" %}
{% block title %}查看车辆信息{% endblock %}
{% load config_tags %}
{% block content %}
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-media-record"></i>
                        <span>查看车辆信息</span>
                    </h2>
                </div>
                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">
                        <div class="alert">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ TITLE -->
        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="" title="车辆管理">车辆管理</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'list_car_url' %}" title="车辆列表">车辆列表</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="查看车辆信息">查看车辆信息</a>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->
        <div class="content-wrap">
            <div class="row">
                <div class="col-sm-12">

                    <!-- BLANK PAGE-->
                    <div class="nest">
                        <div class="title-alt">
                            <h6>基本信息</h6>

                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#horizontal1">
                                    <span class="entypo-up-open"></span>
                                </a>
                            </div>

                        </div>
                        <div class="body-nest" id="horizontal1">
                            <table class="user-view-table">
                                <tr>
                                    <th>车牌号：</th>
                                    <td>{{ object.license }}</td>
                                    <th>训练类型：</th>
                                    <td>{{ object.train_type }}</td>
                                </tr>
                                <tr>
                                    <th>车辆种类：</th>
                                    <td>{{ object.get_car_type_display }}</td>
                                    <th>训练场地：</th>
                                    <td>{{ object.training_place }}</td>
                                </tr>
                                <tr>
                                    <th>科目二训练时间：</th>
                                    <td>{{ object.stage_two_train_time|cast_traintime_to_string }}</td>
                                    <th>科目三训练时间：</th>
                                    <td>{{ object.stage_three_train_time|cast_traintime_to_string }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- END OF BLANK PAGE -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <!-- BLANK PAGE-->
                    <div class="nest">
                        <div class="title-alt">
                            <h6>操作日志</h6>

                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#horizontal3">
                                    <span class="entypo-up-open"></span>
                                </a>
                            </div>

                        </div>
                        <div class="body-nest" id="horizontal3">

                            <table class="user-view-table">
                                <tr>
                                    <th style="text-align: left">时间</th>
                                    <th style="text-align: left">操作</th>
                                    <th style="text-align: left">备注</th>
                                </tr>
                                {% for item in object.coachcarlog_set.all %}
                                    <tr>
                                        <td>{{ item.create_time | date:"Y-m-d H:s" }}</td>
                                        <td>{{ item.behavior }}</td>
                                        <td>{{ item.description }}</td>
                                    </tr>
                                {% endfor %}
                            </table>


                        </div>
                    </div>
                    <!-- END OF BLANK PAGE -->
                </div>
            </div>

            <!-- /END OF CONTENT -->
            {% include 'admin/_foot.html' %}
        </div>
    </div>
    <style>
        .user-view-table {
            width: 100%;
        }

        .user-view-table th,
        .user-view-table td {
            padding: 10px !important;
            border: 1px solid #eee !important;
        }

        .user-view-table th {
            background: #f9f9f9;
            font-weight: normal;
        }

        .user-view-table td {
            color: #666;
        }

        .form-block {
            padding: 30px 20px 0;
            width: 70%;
        }

        .form-block .control-label {
            font-weight: normal;
        }

        .tab-pane {
            display: none;
        }

        .tab-pane.active {
            display: block;
        }
    </style>
{% endblock %}