{% extends "admin/_base.html" %}
{% load pagination_tags %}
{% load config_tags %}
{% block title %}教学套餐列表{% endblock %}

{% block content %}
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-media-record"></i>
                        <span>教学套餐列表</span>
                    </h2>
                </div>
                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">
                        <div class="alert">

                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="btn-group btn-wigdet pull-right visible-lg">
                        <div class="btn" data-toggle="dropdown">操作</div>
                        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <a href="{% url 'add_category_url' %}" title="添加套餐">
                                    <span class="entypo-plus-circled margin-iconic"></span>添加套餐</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/ TITLE -->
        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'list_user_url' %}" title="学员管理">学员管理</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'list_category_url' %}" title="教学套餐">教学套餐</a>
            </li>
            <li class="pull-right">
                <form class="search-form form-inline clearfix" action="{% url 'list_category_url' %}" method="get">
                    <div class="input-widget">
                        {% for obj in filter.form %}
                            {{ obj }}
                        {% endfor %}
                        <input class="hidden" type="submit">
                    </div>
                </form>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->
        <div class="content-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <!-- BLANK PAGE-->
                    <div class="nest" id="tableStaticClose">
                        <div class="body-nest" id="tableStatic">
                            <section id="flip-scroll">
                                <table class="table table-bordered table-striped cf">
                                    <thead class="cf">

                                    <tr>
                                        <th>套餐名称</th>
                                        <th>套餐费用</th>
                                        <th>套餐时间段</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% autopaginate category_list 15 %}
                                    {% for item in category_list %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.fee }}</td>
                                            <td>{{ item.training_weekdays|cast_to_string }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'modify_category_url' item.id %}" class="btn btn-default">
                                                    <span class="entypo-pencil"></span>&nbsp;&nbsp;编辑
                                                </a>
                                                <a href="{% url 'delete_category_url' item.id %}" class="btn btn-info del-item">
                                                    <span class="entypo-trash"></span>&nbsp;&nbsp;删除
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <input type="hidden" id="checked-ids">
                                {% paginate %}
                            </section>
                        </div>
                    </div>
                </div>
                <!-- END OF BLANK PAGE -->
            </div>
            <!-- /END OF CONTENT -->
            {% include 'admin/_foot.html' %}
            <script type="text/javascript">

            </script>
        </div>
    </div>
{% endblock %}