{% extends "admin/_base.html" %}
{% load staticfiles %}
{% block title %}学员等级修改{% endblock %}
{% block content %}
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-media-record"></i>
                        <span>修改学员等级</span>
                    </h2>
                </div>
                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">
                        <div class="alert">



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ TITLE -->
        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'list_user_url' %}" title="学员管理">学员管理</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'list_frequency_url' %}" title="车辆列表">学员等级</a>
            </li>
             <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="Sample page 3">修改等级</a>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->
        <div class="content-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <!-- BLANK PAGE-->
                    <div class="nest" id="tableStaticClose">
                        <div class="body-nest" id="validation">
                            <div class="form_center">
                                <form action="" class="form-horizontal" method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                    <fieldset>

                                        {% for field in form %}
                                            <div class="control-group error">
                                                {% if field.field.required %}
                                                    <span class="color-red">*</span>
                                                {% endif %}
                                                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                                {{ field }}
                                                {{ field.errors }}
                                            </div>
                                        {% endfor %}

                                        <div class="form-actions" style="margin:20px 0 0 0;">
                                            <button type="submit" class="btn btn-primary">保存</button>
                                            <a href="{% url 'list_category_url' %}" class="btn">返回</a>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF BLANK PAGE -->
            </div>
            <!-- /END OF CONTENT -->
            {% include 'admin/_foot.html' %}
        </div>
    </div>
{% endblock %}