{% extends "admin/_base.html" %}
{% load pagination_tags %}
{% block title %}练车时间段{% endblock %}

{% block content %}
<div class="container-fluid paper-wrap bevel tlbr">
    <!-- CONTENT -->
    <!--TITLE -->
    <div class="row">
        <div id="paper-top">
            <div class="col-sm-3">
                <h2 class="tittle-content-header">
                    <i class="icon-media-record"></i>
                    <span>练车时间段</span>
                </h2>
            </div>
            <div class="col-sm-7">
                <div class="devider-vertical visible-lg"></div>
                <div class="tittle-middle-header">
                    <div class="alert">

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="devider-vertical visible-lg"></div>
                <div class="btn-group btn-wigdet pull-right visible-lg">
                    <div class="btn" data-toggle="dropdown">操作</div>
                    <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="{% url 'add_traintime_url' %}">
                                <span class="entypo-plus-circled margin-iconic"></span>添加时间段</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/ TITLE -->
    <!-- BREADCRUMB -->
    <ul id="breadcrumb">
        <li>
            <span class="entypo-home"></span>
        </li>
        <li>
            <i class="fa fa-lg fa-angle-right"></i>
        </li>
        <li>
            <a href="#" title="系统管理">系统管理</a>
        </li>
        <li>
            <i class="fa fa-lg fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'list_traintime_url' %}" title="练车时间段">练车时间段</a>
        </li>
        <li class="pull-right">
            <form class="search-form form-inline clearfix" action="{% url 'list_traintime_url' %}" method="get">
                <div class="input-widget">
                    {% for obj in filter.form %}
                    {{ obj }}
                    {% endfor %}
                </div>
            </form>
        </li>
    </ul>
    <!-- END OF BREADCRUMB -->
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <!-- BLANK PAGE-->
                <div class="nest" id="tableStaticClose">
                    <div class="body-nest" id="tableStatic">
                        <section id="flip-scroll">
                            <table class="table table-bordered table-striped cf">
                                <thead class="cf">
                                <tr>
                                    <th>训练科目</th>
                                    <th>时段名称</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% autopaginate traintime_list 10 %}
                                {% for item in traintime_list %}
                                <tr>
                                    <td>{{ item.get_exam_stage_display }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.start_time|time:'H:i' }}</td>
                                    <td>{{ item.end_time|time:'H:i' }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'modify_traintime_url' item.id %}"
                                           class="btn btn-default ajax-load">
                                            <span class="entypo-pencil"></span>&nbsp;&nbsp;编辑
                                        </a>
                                        <a href="{% url 'delete_traintime_url' item.id %}" type="button" class="btn btn-info del-item">
                                            <span class="entypo-trash"></span>&nbsp;&nbsp;删除
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% paginate %}
                        </section>
                    </div>
                </div>
            </div>
            <!-- END OF BLANK PAGE -->
        </div>
        <!-- /END OF CONTENT -->
        {% include 'admin/_foot.html' %}
    </div>
</div>
{% endblock %}
