<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-modal-bs3patch.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-modal.css' %}">
    <link rel="stylesheet" href="{% static 'js/timepicker/bootstrap-timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'js/datepicker/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/datepicker/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'js/iCheck/flat/all.css' %}">
    {% block style %}{% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'ico/minus.png' %}">
</head>
<body>
{% block body %}{% endblock %}
<script type="text/javascript">
    var STATIC_URL = "{% static '' %}";
</script>
<script type="text/javascript" src="{% static 'js/preloader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/load.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/newsticker/jquery.newsTicker.js' %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>