{% extends "admin/_base.html" %}
{% load pagination_tags %}
{% block title %}短信发送记录列表{% endblock %}

{% block content %}
<div class="container-fluid paper-wrap bevel tlbr">
    <!-- CONTENT -->
    <!--TITLE -->
    <div class="row">
        <div id="paper-top">
            <div class="col-sm-3">
                <h2 class="tittle-content-header">
                    <i class="icon-media-record"></i>
                    <span>短信发送记录列表</span>
                </h2>
            </div>
            <div class="col-sm-7">
                <div class="devider-vertical visible-lg"></div>
                <div class="tittle-middle-header">
                     {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        <strong>{{ message }}</strong>。
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="devider-vertical visible-lg"></div>
                <div class="btn-group btn-wigdet pull-right visible-lg">
                    <div class="btn" data-toggle="dropdown">操作</div>
                    <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="{% url 'batch_delete_smslog_url' %}" onclick="return sms.batch_delete(this);">
                                <span class="entypo-heart margin-iconic"></span>批量删除</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/ TITLE -->
    <!-- BREADCRUMB -->
    <ul id="breadcrumb">
        <li>
            <span class="entypo-home"></span>
        </li>
        <li>
            <i class="fa fa-lg fa-angle-right"></i>
        </li>
        <li>
            <a href="#" title="系统管理">系统管理</a>
        </li>
        <li>
            <i class="fa fa-lg fa-angle-right"></i>
        </li>
        <li>
            <a href="#" title="用户反馈">用户反馈</a>
        </li>
        <li class="pull-right">
            <form class="search-form form-inline clearfix" action="{% url 'list_smslog_url' %}" method="get">
                <div class="input-widget">
                    {% for obj in filter.form %}
                    {{ obj }}
                    {% endfor %}
                    <input class="hidden" type="submit">
                </div>
            </form>
        </li>
    </ul>
    <!-- END OF BREADCRUMB -->
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <!-- BLANK PAGE-->
                <div class="nest" id="tableStaticClose">
                    <div class="body-nest" id="tableStatic">
                        <section id="flip-scroll">
                            <table class="table table-bordered table-striped cf">
                                <thead class="cf">

                                <tr>
                                    <th class="text-center">
                                         <input type="checkbox" data-role="check-all">
                                        <input type="hidden" class="checkedids" value="">
                                    </th>
                                    <th>发送学员</th>
                                    <th>学员电话</th>
                                    <th>发送模板</th>
                                    <th>类型</th>
                                    <th style="width: 40%">发送内容</th>
                                    <th>发送时间</th>
                                    <th>发送状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% autopaginate smssendlog_list 15 %}
                                {% for item in smssendlog_list %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" class="checkbox" value="{{ item.id}}">
                                    </td>
                                    <td>{{ item.user.name }}</td>
                                    <td>{{ item.user.mobile }}</td>
                                    <td>{{ item.template.message_title }}</td>
                                    <td>{{ item.template.get_msg_type_display }}</td>
                                    <td>{{ item.send_content }}</td>
                                    <td>{{ item.send_time|date:"Y-m-d H:i" }}</td>
                                    <td>{{ item.get_is_success_display|safe }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'delete_smslog_url' item.id %}"
                                           class="btn btn-info del-item">
                                            <span class="entypo-trash"></span>&nbsp;&nbsp;删除
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <input type="hidden" id="checked-ids">
                                {% paginate %}
                         </section>
                    </div>
                </div>
            </div>
            <!-- END OF BLANK PAGE -->
        </div>
        <!-- /END OF CONTENT -->
        {% include 'admin/_foot.html' %}
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        $('.del-item').click(function () {
            var id = $(this).attr('data-id');
            if (id) {
                if (confirm('你确定要进行此操作吗？')) {
                    $.post('/admin/place/delete/', {id: id}, function (data) {
                        if (data == '1') {
                            window.location.href = '/admin/place/list/';
                        } else {
                            alert('操作失败')
                        }
                    });
                }
            }
            return false;
        });


        $('#bulk-action').click(function () {
            var action = $('#bulk-actions').val();
            if (action == '') {
                alert('请先选择操作');
                return false;
            }
            var id = $('#checked-ids').val();
            if (!id) {
                alert('你还没有选择操作项');
                return false;
            }
            if (confirm('你确定要进行此操作吗？')) {
                $.post('/admin/place/delete/', {id: id}, function (data) {
                    if (data == '1') {
                        window.location.href = '/admin/place/list/';
                    } else {
                        alert('操作失败')
                    }
                });
            }
            return false;
        });
    });
</script>
{% endblock %}