{% extends "admin/_base.html" %}
{% block title %}短信模板-添加{% endblock %}
{% block content %}
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-media-record"></i>
                        <span>添加自定义模板</span>
                    </h2>
                </div>
                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">
                        <div class="alert">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ TITLE -->
        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="系统管理">系统管理</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="信息中心">信息中心</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="添加自定义模板">添加自定义模板</a>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->
        <div class="content-wrap">
            <div class="page-extra">
                <!-- Main content -->
                <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12" style="background: #c9e7f2!important;  color: #31708f!important;">
                            <h5 class="page-header">
                                使用以下变量替换关键字:<br><br>
                               <p style="color:red"> $学员姓名$, &nbsp;$教练姓名$,&nbsp; $教练电话$, &nbsp;$场地名称$, &nbsp;$场地地址$,&nbsp; $预约日期$,&nbsp; $预约时间$，&nbsp;$约考科目$</p>
                            </h5>
                        </div>
                        <!-- /.col -->
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- BLANK PAGE-->
                    <div class="nest" id="tableStaticClose">
                        <div class="body-nest">


                            <div class="form_center">
                                <form action="" class="form-horizontal" method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                    <fieldset>
                                        {% for field in form %}
                                            <div class="control-group error">
                                                {% if field.field.required %}
                                                    <span class="color-red">*</span>
                                                {% endif %}
                                                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>

                                                {{ field }}

                                                {{ field.errors }}

                                            </div>
                                        {% endfor %}
                                        <div class="form-actions" style="margin:20px 0 0 0;">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                            <a href="{% url 'list_smstemplate_url' %}" class="btn">返回</a>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF BLANK PAGE -->
            </div>
            <!-- /END OF CONTENT -->
            {% include 'admin/_foot.html' %}
        </div>
    </div>
{% endblock %}



